* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: aqua;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainBoard {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 1rem;
}
h1 {
  margin-bottom: 2rem;
}

.card {
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.35, 1.275);
}

.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background-color: white;
  backface-visibility: hidden;
}
.back img {
  width: 100%;
  height: 100%;
}

.toggle {
  transform: rotateY(180deg);
}
